/* navBar.module.css */
.navContainer {
  background-color: rgb(241, 242, 246);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  /* Fija la barra en la parte superior */
  z-index: 100;
  /* Asegura que la barra esté por encima de otros elementos */
  transition: height 0.3s ease; /* Agrega una transición suave para el cambio de altura */
}

.navContainer.sticky {
  height: 60px; /* Altura reducida cuando es pegajoso */
}

.itemList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navLinks {
  color: rgb(131, 131, 131);
}

.navLinks:hover {
  color: rgb(46, 46, 46);
}

.navItem {
  margin: 0px 10px;
  transition: color 0.3s;
  /* Agrega una transición suave para el cambio de color */
}

/* Agrega el efecto de hover */
.navItem:hover {
  color: #303030;
  /* Cambia el color al hacer hover */
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    /* Cambia a dirección vertical */
    text-align: center;
    /* Alinea el texto al centro */
  }

  .itemList {
    margin-top: 10px;
    /* Agrega espacio en la parte superior */
  }
}