.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #74b6d9;
    color: #FAFAFA;
}

.container > h1 {
    margin-top: 40px;
}

.image {
    margin-top: 150px;
    background-size: cover;
    max-width: 100%;
    border-radius: 155px;
}

.button {
    min-width: 200px;
    font-size: 20px;
    margin-top: 50px;
    color: #333;
    background-color: #FAFAFA;
    border: 2px solid #74b6d9;

}.button:hover {
    min-width: 200px;
    font-size: 20px;
    margin-top: 50px;
    color: #333;
    background-color: #d2d2d2;
    border: 2px solid #74b6d9;

}

.extra {
    background-color: #74b6d9;
    min-height: 140px;
}