.infoContainer {
    display: flex;
    flex-direction: column; /* Cambio a columna para que las tarjetas estén una debajo de la otra */
    align-items: center; /* Centra las tarjetas horizontalmente */
    margin: 40px;
    background-color: #f8f8f8;
    padding: 50px;
  }
  
  .card {
    margin-top: 25px;
    display: flex;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .cardImage {
    flex: 1;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardImage img {
    width: 250px; /* Establece el ancho deseado para las imágenes */
    height: 250px; /* Establece la altura deseada para las imágenes */
    object-fit: cover; /* Ajusta la imagen dentro del espacio manteniendo la proporción */
    border-radius: 50%; /* Opcional: agrega bordes redondeados a las imágenes */
  }
  
  .cardContent {
    flex: 2;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .paragraph {
    font-size: 16px;
    color: #666;
  }


  