.mapContainer{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnShowMap{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FF6B0B;
}

.btnShowMap:hover{
    color: #FF6B0B;
    margin-top: 15px;
    background-color: #FAFAFA;
    border: #FF6B0B 1px solid;
}
