* {
    margin: 0;
    padding: 0;
    line-height: 110% !important;
}

.contactSection {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FAFAFA;
    color: #333;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 20px;
}

.contactInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerCard {
    background-color: #FAFAFA;
    border-radius:  8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
    max-width: 300px; /* Establece un ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
    margin: 25px 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerCard>i {
    background-color: #FF6B0B;
    padding: 15px;
    border-radius: 150px;
    margin-top: 20px;
    font-size: 50px;
}

.ContactTitle {
    margin-top: 20px; /* Ajusta el margen superior */
    font-weight: bold;
    font-size: 28px; /* Ajusta el tamaño del título */
    color: #333;
    text-align: center; /* Centra el texto */
}

.cardServiceContent {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    min-height: 220px;
}

/* Media query para pantallas de hasta 600px (celulares) */
@media (max-width: 600px) {
    .ContactTitle {
        font-size: 24px; /* Ajusta el tamaño del título para pantallas pequeñas */
    }

    .containerCard>i {
        font-size: 40px; /* Ajusta el tamaño del icono para pantallas pequeñas */
    }
    
    .containerCard {
        background-color: #FAFAFA;
        border-radius:  8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
        max-width: 300px; /* Establece un ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
        margin: 25px 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .contactSection {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: #FAFAFA;
        color: #333;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;
        padding: 20px;
    }

    .contactInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
